.maindiv {
  width: 70%;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("https://i.ytimg.com/vi/EO8SP6W4LXk/maxresdefault.jpg");
  background-size: 100% 100%;
  box-shadow: 1px 2px 10px 5px white;
  animation: slider 9s infinite linear;
}

@keyframes slider {

  0% {
    background-image: url("https://i.ytimg.com/vi/pxnO--HHMQw/maxresdefault.jpg");
  }
  35% {
    background-image: url("https://library.kissclipart.com/20180923/www/kissclipart-flea-market-clipart-big-ds-flea-market-1st-annual-8bd82f9949e9bedc.jpg");
  }
  75% {
    background-image: url("https://webdevtrick.com/wp-content/uploads/jquery-fly-to-cart.jpg");
  }
}

