<div class="container contact-form">
  <div class="contact-image">
    <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/>
  </div>
  <form  (ngSubmit)="onSubmit()">
    <h3>Drop Us a Message</h3>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input type="text"  [(ngModel)]="contact.name" name="txtName" class="form-control" placeholder="Your Name *" value="" />
        </div>
        <br><br>
        <div class="form-group">
          <input type="submit" name="btnSubmit" class="btnContact" value="Send Message" align="center" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <textarea name="txtMsg" [(ngModel)]="contact.message" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>
        </div>
      </div>
    </div>
  </form>
</div>
