<div xmlns:filter="http://www.w3.org/1999/xhtml">
  <input type="text" class="form-control mr-sm-2" placeholder="            Search here" [(ngModel)]="searchText" style="width: 15%;
  margin-left: 40%; margin-top: 40px;border: solid">
</div>


<br><br>
<div class="col-md-6" xmlns:C="http://www.w3.org/1999/xhtml">
  <div class="row">
    <div class="col-md-4" *ngFor="let recordItem of recording | filter: searchText">
      <div class="card mb-4 shadow-sm">
        <img class="bd-placeholder-img card-img-top" width="100%" height="100%"
             [src]="recordItem.imageUrl"/>
        <div class="card-body">
          <p class="card-text">
            <strong class="text-muted">{{recordItem.price | currency: 'EUR'}}</strong>
          </p>
          <p class="card-text">{{recordItem.name}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-primary product-btn"
                      (click)="addProductToCart(recordItem)">Add to Cart
              </button>
              <button type="button" class="btn btn-sm btn-outline-secondary product-btn">View Details</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
