<div class="cart-item">
  <span>{{cartItem.imageUrl}}</span> <span>{{cartItem.recordName}}</span> x <span>{{cartItem.qty}}</span> :
  <strong>{{(cartItem.qty * cartItem.price) | currency: 'EUR'}}</strong>
</div>
