* {
  margin: 0;
  padding: 0;
}

.links {
  color: red;
  cursor: pointer;
  margin-left: 75%;
  word-spacing: 20px;
  display: flex;
  flex-direction: row;
}

.links:hover{
  background-color: wheat;
}

