<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h2 class="my-0 mr-md-auto font-weight-normal">Shopping</h2>
  <nav class="my-2 my-md-0 mr-md-3">
    <div class="row">
      <div *ngFor="let icon of iconList">
        <a routerLink="/{{icon.link.toLowerCase()}}" (click)="changeSelectedPageMenuColour(icon.link.toLowerCase())"
          [class.selectedMenu]= "icon.link.toLowerCase()"
          style="color: grey;border: none;cursor: pointer;font-size: 16px;text-decoration: none"
          class="p-2 text-dark">
          <img height="28px" width="29px" [src]="icon.iconUrl"/>
          {{icon.link.toUpperCase()}}
        </a>
      </div>
    </div>
  </nav>
</div>
